<div class="container fluid bg-light p-4 mt-4 border border-white shadow-sm border-3 bg-custom">

    <form #myAccountForm="ngForm" (ngSubmit)="updateMyAccount(myAccountForm)" class="row responsiveC">
        <p class="fs-1 fw-bolder">Perfil Usuario</p>
        <div class="col-6">
            <div class="mb-3 col-sm-8">
                <label for="username" class="form-label text-black-50 fw-bolder">Nombre de Usuario</label>
                <input [(ngModel)]="myAccount.username" type="text" name="username" id="username" class="form-control">
            </div>
            <div class="mb-3 col-sm-8">
                <label for="name" class="form-label text-black-50 fw-bolder">Nombre</label>
                <input [(ngModel)]="myAccount.name" type="name" name="name" id="name" class="form-control">
            </div>
            <div class="mb-3 col-sm-8">
                <label for="lastname" class="form-label text-black-50 fw-bolder">Apellido</label>
                <input [(ngModel)]="myAccount.lastname" type="lastname" name="lastname" id="lastname" class="form-control">
            </div>
        </div>

        <div class="col-6">
            <div class="mb-3 col-sm-6">
                <img class="rounded-circle mx-auto d-block img-fluid" max-width="50" max-height="50" src="https://i.stack.imgur.com/l60Hf.png" alt="img...">
            </div>
            <div class="mb-3 col-sm-6 text-center">
                <label for="username" class="form-label text-black-50 fw-bolder">Elige una imagen de perfil</label>
                <input type="file" name="img" id="img" class="form-control">
                <button class="mt-2 btn btn-success">Subir imagen</button>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary col-sm-3" [disabled]="!myAccountForm.form.valid">Actualizar Datos</button>
        </div>
    </form>
    <br>
    <br>
</div>

<div class="container fluid bg-light p-4 mt-4 mb-4 border border-white shadow-sm border-3 bg-custom">
    <form #updatePassword="ngForm" (ngSubmit)="updateMyAccount(myAccountForm)" class="row responsiveC mt-4">
        <p class="fs-1 fw-bolder">Configuración de Privacidad</p>
        <div class="col-6">
            <div class="mb-3 col-sm-8">
                <label for="password" class="form-label text-black-50 fw-bolder">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control mb-2" placeholder="Contraseña actual">
                <input type="password" name="password" id="password" class="form-control mb-2" placeholder="Añade una nueva contraseña">
                <input type="password" name="password" id="password" class="form-control mb-2" placeholder="Confirma tu nueva contraseña">
            </div>
        </div>

        <br>
        <hr>
        <br>
        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-outline-warning col-sm-3" [disabled]="!updatePassword.form.valid">Actualizar Datos</button>
        </div>
    </form>
</div>


<div class="container fluid bg-light p-4 mt-4 mb-4 border border-white shadow-sm border-3 bg-custom">
    <div class="row responsiveC mt-4">
        <p class="fs-1 fw-bolder">Eliminar Cuenta</p>
        <div class="col-6">
            <div class="mb-3 col-sm-8">
                <p>Esta accion es irreversible</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-outline-danger col-sm-3" data-bs-toggle="modal" data-bs-target="#deleteAccountUserModal">Eliminar cuenta</button>
        </div>
    </div>
</div>

<!-- Modal Confirmacion de eliminar cuenta -->
<div class="modal fade" id="deleteAccountUserModal" tabindex="-1" aria-labelledby="deleteAccountUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountUserLabel">Eliminar Cuenta de Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-1 text-danger">¡Cuidado!</p>
                <p class="fs-4 text-danger text-uppercase">¿Seguro que deseas eliminar tu cuenta permanentemente?</p>
                <p class="fs-4 text-uppercase">Esta acción no se puede deshacer</p>
                <div class="mb-3 d-grid">
                    <button class="btn btn-danger" (click)="deleteAccountUser()">ELIMINAR MI CUENTA</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>