html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.main {
    max-height: 80vh!important;
    width: 85vw!important;
    margin: 0 auto!important;
    height: 80vh!important;
}

.leagues {
    width: 18rem;
    display: inline-block!important;
    margin: 1rem;
}

.m0-auto {
    margin: 0 auto;
}

.maxheight {
    max-height: 38rem;
}

.mt-custom {
    margin-top: 7rem!important;
}

.hover-effect {
    transition: all .5s ease-in-out ;
}

.hover-effect:hover {
    padding: 2rem;
    background-color: #dffffe;
    cursor: pointer;
    border-color: white;
}