<div class="main mt-custom">
    <form class="container p-4 row">
        <p class="col">Reporte de</p>

        <select name="report" id="inputReport" class="form-select col">
                    <option selected disabled>Tipo de Reporte</option>
                    <option></option>   
        </select>

        <p class="col">Tipo de Gráfico:</p>

        <select name="graphic" id="inputGraphic" class="form-select col">
                    <option selected disabled>Tipo de Gráfico</option>
                    <option></option>
        </select>

        <button type="submit" class="btn btn-info mx-2 col">Generar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Equipo</th>
                <th scope="col">Puntos Obtenido</th>
                <th scope="col">Goles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>10</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>