<div class="main">
    <div class="container p-4">
                <a>Reporte de</a>

                <select name="report" id="inputReport" class="form-control-sm mx-2">
                    <option selected disabled>Tipo de Reporte</option>
                    <option></option>   
                </select>

                <a>Tipo de Gráfico:</a>

                <select name="graphic" id="inputGraphic" class="form-control-sm mx-2">
                    <option selected disabled>Tipo de Gráfico</option>
                    <option></option>
                </select>   

                <button class="btn btn-primary mx-2">Generar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Equipo</th>
                <th scope="col">Puntos obtenidos goles a favor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Equipo</td>
                <td>Puntos respectivos</td>
            </tr>
        </tbody>
    </table>
</div>