html,
body {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.sidbar-admin {
    width: 15vw;
    max-height: 100vh;
    height: 100vh;
}

.sidbar-admin nav {
    margin: 0 auto;
    color: white;
}

@media (max-width: 768px) {
    .sidbar-admin {
        width: 100vw;
    }
}

.logo {
    max-width: 10rem;
    max-height: 10rem;
    height: 9rem;
    width: 10rem;
    object-fit: cover;
    object-position: 100% 0;
}

a {
    color: white;
    transition: all .5s ease-in-out;
    border-radius: 1rem;
}

a:hover {
    color: black;
    border-bottom: 1px solid white;
    background-color: white;

}
