<div class="sidbar-admin bg-primary p-4 text-center d-flex flex-column justify-content-between align-items-center">

    <div>
        <img class="logo rounded">
        <h2 class="font-weight-bolder text-monospace"></h2>
    </div>

    <nav id="list-example" class="list-group">
        <ul class="nav flex-column text-white fw-bolder">
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/homeAdmin">Dahboard</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/leagues">Ligas</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/users">Usuarios</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/history">Historial</a>
            </li>
        </ul>
    </nav>

    <footer>
        <button type="button" class="btn btn-outline-light" (click)="logOut()">
            Cerrar sesión
        </button>
    </footer>
</div>